.description p{
    margin-bottom: 1.5rem;
}

.description ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.description span{
    font-weight: 700;
}

.description ul li{
    list-style: '- ' none inside;
}
