.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header {
    background-color: #E1F0EE;
    position: sticky;
    top: 0;
    left: 0;
    height: var(--header-height);
    z-index: 9999;
}

header ul {
    display: flex;
    align-items: center;
    gap: var(--gutter);
}

header a, header a:visited {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

header h1 a{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none !important;
}

header a:hover {
    text-decoration: underline;
}
