footer {
    height: 112px;
    background-color: #262628;
}

footer ul {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

footer a {
    color: white;
    text-decoration: none;
}
