footer {
    background-color: var(--dark-grey);
}

footer ul {
    min-height: 112px;
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    footer ul{
        flex-wrap: wrap;
        min-height: 100%;
        gap: 10px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    footer ul li {
        margin-right: 15px;
    }
}

@media screen and (max-width: 593px) {
    footer ul{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
        padding: 10px !important;
    }
}

footer a {
    color: var(--white);
    text-decoration: none;
}
