* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html:root{
    --max-width: 1440px;
    --header-height: 116px;
    --white-smoke: #F9FCFF;
    --white: #FFFFFF;
    --pastel-green: #E1F0EE;
    --dark-grey: #262628;
    --black-translucent: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 880px){
    html:root{
        --header-height: 77px;
    }
}

@media screen and (max-width: 580px){
    html:root{
        --header-height: 57px;
    }
}

html {
    background-color: var(--white-smoke);
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + 10px);
}

button{
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

li {
    list-style: none;
}

a, a:visited {
    color: inherit;
}

body.blocked{
    overflow: hidden;
}

.font_xxl{
    font-size: 48px;
    line-height: 48px;
}

.font_xl{
    font-size: 40px;
    line-height: 43px;
}

.font_l{
    font-size: 25px;
    line-height: 34px;
}

.font_m{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.font_s{

}

@media screen and (max-width: 1440px) {
    .font_xxl{
        font-size: 42px;
        line-height: 42px;
    }
    .font_xl{
        font-size: 34px;
        line-height: 37px;
    }

    .font_l{
        font-size: 19px;
        line-height: 28px;
    }

    .font_m{
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 480px) {
    .font_xxl{
        font-size: 32px;
        line-height: 32px;
    }
    .font_xl{
        font-size: 24px;
        line-height: 27px;
    }

    .font_l{
        font-size: 15px;
        line-height: 18px;
    }

    .font_m{
        text-decoration: none;
        font-size: 12px;
        line-height: 15px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding: 0 90px;
    width: 100%;
}

@media screen and (max-width: 880px) {
    .container{
        padding: 0 45px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        padding: 0 15px;
    }
}
